@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* importar font */

/* variables*/
:root {
  --white: #f9f9f9;
  --black: #18191b;
  /* 1D1D11 negro alternativo*/
  --blue: #2272ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--black);
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.header {
  background-color: var(--black);
  box-shadow: 2px 2px 5px 0px var(--blue);
  position: sticky;
  top: 0;
  height: 5.1em;
  width: 100%;
  transition: 1s ease-in;
}
.logo {
  display: inline-block;
  color: var(--white);
  font-size: 60px;
  margin-left: 10px;
}
.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: var(--black);
  overflow: hidden;
}
.menu a {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 25px;
  margin: 5px;
  color: var(--white);
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}
.menu a:hover {
  background-color: #2273ff52;
  transition: 0.5s ease-in;
  border-radius: 5px;
}
.nav {
  transition: 1s;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}

.hamb-linea {
  background: var(--white);
  display: block;
  height: 4px;
  position: relative;
  width: 28px;
  border-radius: 2px;
}
/* líneas hamb */
.hamb-linea::before,
.hamb-linea::after {
  background: var(--white);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.15s ease-out;
  width: 100%;
  border-radius: 2px;
  height: 4px;
}
.hamb-linea::before {
  top: 7.5px;
}
.hamb-linea::after {
  top: -7.5px;
}

/* esconde checkbox */
.min-menu {
  display: none;
}

/* menu icon */
.min-menu:checked ~ nav {
  max-height: 100%;
}
.min-menu:checked ~ .hamb .hamb-linea {
  background: transparent;
}
.min-menu:checked ~ .hamb .hamb-linea::before {
  transform: rotate(-45deg);
  top: 0;
}
.min-menu:checked ~ .hamb .hamb-linea::after {
  transform: rotate(45deg);
  top: 0;
}
.login {
  font-size: 20px;
}
.login a {
  padding: 21px;
}
.login p {
  color: transparent;
  font-size: 10px;
}
.login p:hover {
  color: var(--white);
}
.contenido {
  color: var(--white);
  display: flex;
  justify-content: center;
  margin: 2em;
}

/* SCROLL bar */
::-webkit-scrollbar {
  width: 0.6em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #2272ff;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px #2272ff;
  background: #2272ff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #02286ac7;
}

/* media query */
@media (min-width: 860px) {
  .nav {
    max-height: 5em;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
  }
  .menu li {
    float: left;
  }
  .hamb {
    display: none;
  }
}

.form {
  background-color: var(--black);
  box-shadow: 2px 2px 5px 0px var(--blue);
  position: sticky;
  top: 0;
  height: 5.1em;
  width: 100%;
  transition: 1s ease-in;
}
  .solicitud_docente {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 25px;
    margin: 5px;
    color: var(--white);
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    background-color: #2273ff52;
  }

  .label {
    font-weight: bold;
    font-size: 11px;
    font-family: "Poppins", sans-serif;
    color:aqua
  }

  .input  {
    font-size: 10px;
    font-family: "Poppins", sans-serif;
  }
  .button {
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 10px;
    font-family: "Poppins", sans-serif;
    margin-right: 9px;
    padding: 10px 12px;
    border-radius: 4px;
}

.button1 {
  background-color: rgb(5, 115, 151);
  transition: transform 0.5s ease;
}

.button1:hover {
  transform: translateY(-5px);
  color: lightgreen;
}

.button2 {
  color:aqua;
  background-color: rgb(5, 115, 151);
  transition: transform 0.5s ease;
}

input[type="file"]::-webkit-file-upload-button {
  /* Estilos para navegadores basados en WebKit como Chrome y Safari */
  background-color: rgba(111, 208, 240, 0.801);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  margin-right: 9px;
  padding: 10px 12px;
  border-radius: 4px;
}

input[type="file"]::-moz-file-upload-button {
  /* Estilos para navegadores basados en Gecko como Firefox */
  background-color: rgba(111, 208, 240, 0.801);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  margin-right: 9px;
  padding: 10px 12px;
  border-radius: 4px;
}


.custom-file-input-label {
  /* Estilos adicionales para la etiqueta que representa el botón personalizado */
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.file-input-container {
  /* Estilos para el contenedor del campo de entrada */
  margin-bottom: 10px; /* Margen inferior para separar los elementos */
}
